name: Semantic versioning

on:
  push:
    branches: [ master, 1.3.0-extralabels ]
    paths:
      - Chart.yaml
jobs:
  cancel-previous:
    name: Cancel Previous Runs
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}

  semantic-version:
    name: Semantic release
    runs-on: ubuntu-latest
    needs: [cancel-previous]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # - name: Bump version and push tag
      #   id: tag_version
      #   uses: mathieudutour/github-tag-action@v6.0
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     release_branches: master
      #     custom_release_rules: major:major:Major Changes,minor:minor:Minor Changes,chore:patch:Chores

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Package && Azure CLI deploy to ACR
        uses: azure/CLI@v2
        with:
          azcliversion: latest
          inlineScript: |
            az acr helm install-cli --client-version 3.7.1 --yes
            helm package .
            CHART_NAME=$( grep 'name:' Chart.yaml | tail -n 1)
            CHART_NAME=${CHART_NAME//*name: /}
            HELM_EXPERIMENTAL_OCI=1
            helm push ${CHART_NAME}-1.3.3-extralabels.tgz oci://${{ secrets.HELM_REGISTRY }}/helm

      # - name: Create a GitHub release
      #   uses: ncipollo/release-action@v1
      #   with:
      #     tag: ${{ steps.tag_version.outputs.new_tag }}
      #     name: Release ${{ steps.tag_version.outputs.new_tag }}
      #     body: ${{ steps.tag_version.outputs.changelog }}